@CHARSET "windows-1255";
.Question{
  border: 1px solid grey;
  background-color: white;
  width:400px;
  margin:auto;
  margin-bottom:20px;
  border-radius:10px;
}

.NP{
	 margin:auto;
	 width:400px;
}
.AddQues{
	margin:auto;
	 width:400px;
	 border-right:1px solid black;
	  border-left:1px solid black;
	  padding-left:20px;
}

.white{
	color:white;
}

.time{
	padding-top:20px;
	color:white;
	font-size:300%;
}

.HLCon{
		background-color:#070029;
}

.QTop{
	border-bottom:3px solid grey;
	font-style: italic;
	color:#171816;
}

.answers{
	border:2px solid #01485f;
}

.TheQ,.TheA{
	width:400px;
	border-bottom:3px solid grey;
	word-wrap: break-word;
}

.AnswerBtn{
	margin:auto;
	width:80px;;
}

.container{
  background-color: #0a0a10; 
}

.ATop{
	border-bottom:3px solid grey;
	font-style: italic;	
}


.disabled{
	visibility: hidden;
	
}/* for button submit if user already vote */


.cantVote{
	visibility: hidden;
}

.disabled + p{
	visibility: visible;
}

.expand,.LBTN{
	cursor: pointer;
}

.expandCon{
	font-size:130%;
	text-align:center;
	width:400px;
	border:1px solid black;
	background-color:#04042f;
	color:white;
}

.disnone{
	display:none;
}



.expand + input[type=checkbox] + div {
	
	display:none;
}

.expand + input[type=checkbox]:checked + div {
	

	display:block;
	
}

.table{
	background-color: white;
}

.Topics{
	color:white;
}

.QLB{
margin-bottom:5px;
border:1px solid grey;	
}

.LBTH{
	display:inline;
	margin-left:25px;
}





