<!DOCTYPE html>
<html lang="en">
<head>
	<title>Web-app</title>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/BrowseTopics.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	
	<script>
var app = angular.module('myApp', []);
app.controller('topicCtrl', function($scope, $http) {
    $http.get("BrowseT").then(function(response) {
        $scope.myIndex=0;
        $scope.myIndex2=19;
    	$scope.myData = response.data;
    	$scope.max=Object.keys(response.data).length;
    }); 
    
   $scope.Next=function(){
	   if($scope.max>=$scope.myIndex2+1){
		   $scope.myIndex=$scope.myIndex2+1;
		   $scope.myIndex2=$scope.myIndex2+20;
	   }
   };
   
   $scope.Before=function(){
	   if($scope.myIndex-20>=0){
	   $scope.myIndex2=$scope.myIndex-1;
	   $scope.myIndex=$scope.myIndex-20;
	   }
   };
   
   
    
});
</script>
	
	<script> 
$(document).ready(function(){
	$("#panel").hide();
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
</script>
	
	
	<script type="text/javascript">

	function startTime() {
	var today = new Date()
	var h = today.getHours()
	var m = today.getMinutes()
	var s = today.getSeconds()
	// add a zero in front of numbers<10
	m = checkTime(m)
	s = checkTime(s)
	document.getElementById('txt').innerHTML = h+":"+m+":"+s
	t=setTimeout('startTime()',500)
	}
	function checkTime(i) {
	if (i<10) {i="0" + i}
	return i
	}

	</script>

</head>
<body onload="startTime()">

<div class="container">

<div class="jumbotron HLCon">
<div class="row">
    <div class="col-xs-12 col-md-8 white">
	  <h2 id="flip">Click here to see today message</h2>
	  <h3 id="panel">Boo</h3>
	  </div>
	  <div class="col-xs-6 col-md-4">
	  <h2  class="time" id="txt"></h2>
	  </div>
	  </div>
	</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">WebSiteName</div>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="HomePage.html">Home</a></li>
      <li><a href="AddQuestion.html">add Question</a></li>
      <li><a href="NewQuestions.html">New Questions</a></li> 
      <li><a href="Questions.html">Browse Questions</a></li>
      <li><a href="LeaderBoard.html">Users LeaderBoard</a></li>
       <li class="active"><a href="BrowseTopics.html">Browse Topics</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="WelcomePage.html"><span class="glyphicon glyphicon-log-in"></span>Sign Out</a></li>
    </ul>
  </div>
</nav>
<h3 class="white">Browse Topics:</h3>
<div class="row" ng-app="myApp" ng-controller="topicCtrl">
<div class="col-sm-4 Topics" >
<ol>
<li  ng-repeat="x in myData | orderBy : 'Rating' :true" ng-if="myIndex2 >= $index && $index >= myIndex"><h3><a href="#{{ $index + 1 }}">{{x.Topic}}</a></h3></li>
</ol>
<button class="btn btn-info" ng-click="Before()">previous </button>
<button class="btn btn-success" ng-click="Next()">next </button>

</div >
<div class="col-sm-4 ">
<div  id="{{ $index + 1 }}" ng-repeat="x in myData | orderBy : 'Rating' :true" ng-if="myIndex2 >= $index && $index >= myIndex"> <!-- reapet the topics -->
<div class="Question" ng-repeat="q in x.QList | limitTo:20"><!-- reapet the questions in topic -->
<div class="QTop">
<h3>created by:{{q.UsNN}}</h3>
<h3>in:{{q.Time}}</h3>
<h4>topics:{{q.Topics}}</h4>
</div>
<div class="TheQ">
{{q.Message}}
</div>
<h4>rating:{{q.Rating}}</h4>
</div>
</div>
</div>

</div>

</div><!-- container -->


	






</body>

  </html>
