<!DOCTYPE html>
<html lang="en">
<head>
	<title>Web-app</title>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1" >

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
var app = angular.module('myApp', []);
app.controller('tableCtrl', function($scope, $http) {
    $http.get("LeaderBoard").then(function(response) {
        $scope.myData = response.data;
    });
    
});

app.controller('modelCtrl', function($scope) {
	$scope.model=function(){
		$.post("Name",{},function(data, status){
			$scope.y=data;
	    })};
    
});

</script>

<script> 
$(document).ready(function(){
	$("#panel").hide();
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
</script>


	<script type="text/javascript">

	function startTime() {
		
	var today = new Date()
	var h = today.getHours()
	var m = today.getMinutes()
	var s = today.getSeconds()
	// add a zero in front of numbers<10
	m = checkTime(m)
	s = checkTime(s)
	document.getElementById('txt').innerHTML = h+":"+m+":"+s
	t=setTimeout('startTime()',500)
	}
	function checkTime(i) {
	if (i<10) {i="0" + i}
	return i
	}

	</script>

</head>
<body onload="startTime()">

<div class="container">

<div class="jumbotron HLCon">
<div class="row">
    <div class="col-xs-12 col-md-8 white">
	  <h2 id="flip">Click here to see today message</h2>
	  <h3 id="panel">Boo</h3>
	  </div>
	  <div class="col-xs-6 col-md-4">
	  <h2  class="time" id="txt"></h2>
	  </div>
	  </div>
	</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">WebSiteName</div>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="HomePage.html">Home</a></li>
      <li><a href="AddQuestion.html">add Question</a></li>
      <li ><a href="NewQuestions.html">New Questions</a></li> 
      <li><a href="Questions.html">Browse Questions</a></li> 
      <li class="active"><a href="LeaderBoard.html">Users LeaderBoard</a></li> 
      <li><a href="BrowseTopics.html">Browse Topics</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="WelcomePage.html"><span class="glyphicon glyphicon-log-in"></span>Sign Out</a></li>
    </ul>
    
  </div>
 
</nav>

<h3 class="white">Users Table Leaderboard:</h3>	

<div ng-app="myApp" ng-controller="tableCtrl">

<div ng-controller="modelCtrl"> <!--experinced controller-->
<table class="table">
    <thead>
      <tr>
        <th>Num.</th>
        <th>User's NickName</th>
        <th>User's Photo</th>
        <th>User's Rating</th>
       <th> User’s expertise profile:top 5 topics-</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in myData | orderBy:'Rating':true | limitTo:20">
        <td><h3>{{ $index + 1 }}</h3></td>
        <td><h3><a class="LBTN" ng-click="model()" data-toggle="modal" data-target="#{{ $index + 1 }}">{{x.UsNN}}</a></h3></td>
        <td><img src="{{x.Photo}}" class="img-rounded" width="100" height="100" alt="User's Photo"></td>
        <td><h3>{{x.Rating}}</h3></td>
        <td>
        <ol>
        <li ng-repeat="t in x.TList | orderBy:'Rating':true | limitTo:5"><h3>{{t.Topic}}-rank:{{t.Rating}}</h3></li>
        </ol>
        </td>
      </tr>
    </tbody>
  </table>
  
  
 
 <div id="{{ $index + 1 }}" class="modal fade" role="dialog" ng-repeat="x in myData | orderBy:'Rating':true | limitTo:20" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-title ">
        <img src="{{x.Photo}}" class="img-rounded" width="100" height="100" alt="User's Photo">
        <h4 class="LBTH">NickName:{{x.UsNN}}</h4>
        <h5 class="LBTH">Rating:{{x.Rating}}</h5>
        </div>
      </div>
      <div class="modal-body">
        <p>User Description:</p>
       <p> {{x.Desc}}</p>
       <p>User’s expertise profile:top 5 topics-</p>
       <ol>
        <li ng-repeat="t in x.TList | orderBy:'Rating':true | limitTo:5">{{t.Topic}}-rank:{{t.Rating}}</li>
        </ol>
       <h3><b><u>User’s 5 last asked questions:</u></b></h3>
       <div class="QLB" ng-repeat="q in x.QList">
       <div class="QTop">
       <h3 >in:{{q.Time}}</h3>
      <h4 >topics:{{q.Topics}}</h4>
      </div>
       <div class="TheQ">
          {{q.Message}}
          </div>
             <h4>rating:{{q.Rating}}</h4>
       </div>
       
       <h3><b><u>User’s 5 last answered questions:</u></b></h3>
       
       <div class="QLB" ng-repeat="a in x.AList">
      <div class="QTop">
       <h3 >in:{{a.Question.Time}}</h3>
      <h4 >topics:{{a.Question.Topics}}</h4>
      </div>
       <div class="TheQ">
          {{a.Question.Message}}
          </div>
          <p>rating:{{a.Question.Rating}}</p>
         
         <h4><u>User Answer:</u></h4>
         <div class="TheA">
           {{a.Message}}
          </div>
         <h4>rating:{{a.Rating}}</h4>       
       </div>
       
       
      </div><!-- modal body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


  
  </div>

</div> <!--myApp(ng)-->




</div> <!--container-->



</body>

  </html>
