<!DOCTYPE html>
<html lang="en">
<head>
	<title>Web-app</title>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1" >

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>
var app = angular.module('myApp', []);
app.controller('questionsCtrl', function($scope, $http) {
    $http.get("BrowseQ").then(function(response) {
    	$scope.myIndex=0;
        $scope.myIndex2=19;
    	$scope.myData = response.data;
    	$scope.max=Object.keys(response.data).length;
    }); 
    
    $scope.Next=function(){
  	   if($scope.max>=$scope.myIndex2+1){
  		   $scope.myIndex=$scope.myIndex2+1;
  		   $scope.myIndex2=$scope.myIndex2+20;
  	   }
     };
     
     $scope.Before=function(){
  	   if($scope.myIndex-20>=0){
  	   $scope.myIndex2=$scope.myIndex-1;
  	   $scope.myIndex=$scope.myIndex-20;
  	   }
     };
    
});

app.controller('QvoteCtrl', function($scope) {
    $scope.QUpVote=function(){
    	$.post("UDVQues",{
            Id: $scope.x.Id,
            value: 1
        });
    	location.reload();}
    
    $scope.QDownVote=function(){
    	$.post("UDVQues",{
            Id: $scope.x.Id,
            value: -1
        });
    	location.reload();}
    });
    
    app.controller('AvoteCtrl', function($scope) {
    $scope.AUpVote=function(){
    	$.post("UDVAns",{
            Id: $scope.ans.Id,
            value: 1
        });
    	location.reload();}
    
    $scope.ADownVote=function(){
    	$.post("UDVAns",{
            Id: $scope.ans.Id,
            value: -1
        });
    	location.reload();}
    });
    
    app.controller('AvoteCtrl2', function($scope) {
    $scope.AUpVote2=function(){
    	$.post("UDVAns",{
            Id: $scope.x.Ans.Id,
            value: 1
        });
    	location.reload();}
    
    $scope.ADownVote2=function(){
    	$.post("UDVAns",{
            Id: $scope.x.Ans.Id,
            value: -1
        });
    	location.reload();}
    })
;
</script>


<script> 
$(document).ready(function(){
	$("#panel").hide();
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
</script>



	<script type="text/javascript">

	function startTime() {
	var today = new Date()
	var h = today.getHours()
	var m = today.getMinutes()
	var s = today.getSeconds()
	// add a zero in front of numbers<10
	m = checkTime(m)
	s = checkTime(s)
	document.getElementById('txt').innerHTML = h+":"+m+":"+s
	t=setTimeout('startTime()',500)
	}
	function checkTime(i) {
	if (i<10) {i="0" + i}
	return i
	}

	</script>

</head>
<body onload="startTime()">

<div class="container">

<div class="jumbotron HLCon">
<div class="row">
    <div class="col-xs-12 col-md-8 white">
	  <h2 id="flip">Click here to see today message</h2>
	  <h3 id="panel">Boo</h3>
	  </div>
	  <div class="col-xs-6 col-md-4">
	  <h2  class="time" id="txt"></h2>
	  </div>
	  </div>
	</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">WebSiteName</div>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="HomePage.html">Home</a></li>
      <li><a href="AddQuestion.html">add Question</a></li>
      <li ><a href="NewQuestions.html">New Questions</a></li> 
      <li class="active"><a href="Questions.html">Browse Questions</a></li> 
      <li><a href="LeaderBoard.html">Users LeaderBoard</a></li> 
      <li><a href="BrowseTopics.html">Browse Topics</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="WelcomePage.html"><span class="glyphicon glyphicon-log-in"></span>Sign Out</a></li>
    </ul>
    
  </div>
 
</nav>

<h3 class="white">Browse Questions:</h3>	

<div ng-app="myApp" ng-controller="questionsCtrl">
<div class="Question" ng-repeat="x in myData | orderBy : 'AvgRating' :true | limitTo:20">
<div class="QTop">
<h3>created by:{{x.UsNN}}</h3>
<h3>in:{{x.Time}}</h3>
<h4>topics:{{x.Topics}}</h4>
</div>
<div class="TheQ">
{{x.Message}}
</div>

<div class="row">
<h4 class="col-md-4">rating:{{x.Rating}}</h4>
<div class="col-md-8" ng-controller="QvoteCtrl">
<button class="btn btn-success {{x.UserVote}}" ng-click="QUpVote()">Fan-tastic!</button>
<button class="btn btn-danger {{x.UserVote}}" ng-click="QDownVote()">EXTERMINATE!</button>
<p class="cantVote">You cant Vote</p>
</div>
</div>

<div class="answerQ">
<form method="get" action="AnswerQ">
<label for="Ans">Write your answer:</label>
<textarea name="{{x.Id}}" rows="6" cols="50" id="Ans">
</textarea>
<div class="AnswerBtn">
<button  type="submit" class="btn btn-primary">Answer</button>
</div>
</form>
</div>

<h3><b><u>Answers:</u></b></h3>
<div class="answers">
<div class="ATop">
<h4>created by:{{x.Ans.UsNN}}</h4>
<h4 >in:{{x.Ans.Time}}</h4>
</div>
<div class="TheA">
{{x.Ans.Message}}
</div>

<div class="row">
<h4 class="col-md-4">rating:{{x.Ans.Rating}}</h4>
<div class="col-md-8" ng-controller="AvoteCtrl2">
<button class="btn btn-success {{x.Ans.UserVote}}" ng-click="AUpVote2()">Fan-tastic!</button>
<button class="btn btn-danger {{x.Ans.UserVote}}" ng-click="ADownVote2()">EXTERMINATE!</button>
<p class="cantVote">You cant Vote</p>
</div>
</div>

</div>

<label class="expand" for="{{x.Id}}2"><div class="expandCon">expand</div></label>

<input class="disnone" type="checkbox" id="{{x.Id}}2" /> 

<div class="trans">
<div class="answers" ng-repeat="ans in x.List">
<div  class="ATop">
<h4>created by:{{ans.UsNN}}</h4>
<h4>in:{{ans.Time}}</h4>
</div>
<div class="TheA">
{{ans.Message}}
</div>

<div class="row">
<p class="col-md-4">rating:{{ans.Rating}}</p>
<div class="col-md-8" ng-controller="AvoteCtrl">
<button class="btn btn-success {{ans.UserVote}}" ng-click="AUpVote()">upvote</button>
<button class="btn btn-danger {{ans.UserVote}}" ng-click="ADownVote()">downvote</button>
<p class="cantVote">You cant Vote</p>
</div>
</div>


</div>
</div>

</div>
<div class="NP">
<button class="btn btn-info" ng-click="Before()">previous </button>
<button class="btn btn-success" ng-click="Next()">next </button>
</div>
</div> <!--myApp(ng)-->

</div>



</body>

  </html>
