<!DOCTYPE html>
<html lang="en">
<head>
	<title>Web-app</title>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1" >

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>
var app = angular.module('myApp', []);
app.controller('questionsCtrl', function($scope, $http) {
    $http.get("BrowseQ").then(function(response) {
        $scope.myData = response.data;
    });   
    
});

app.controller('QvoteCtrl', function($scope) {
    $scope.QUpVote=function(){
    	$.post("UDVQues",{
            Id: $scope.x.Id,
            value: 1
        });
    	location.reload();}
    
    $scope.QDownVote=function(){
    	$.post("UDVQues",{
            Id: $scope.x.Id,
            value: -1
        });
    	location.reload();}
    });
    
    app.controller('AvoteCtrl', function($scope) {
    $scope.AUpVote=function(){
    	$.post("UDVAns",{
            Id: $scope.ans.Id,
            value: 1
        });
    	location.reload();}
    
    $scope.ADownVote=function(){
    	$.post("UDVAns",{
            Id: $scope.ans.Id,
            value: -1
        });
    	location.reload();}
    });
    
    app.controller('AvoteCtrl2', function($scope) {
    $scope.AUpVote2=function(){
    	$.post("UDVAns",{
            Id: $scope.x.Ans.Id,
            value: 1
        });
    	location.reload();}
    
    $scope.ADownVote2=function(){
    	$.post("UDVAns",{
            Id: $scope.x.Ans.Id,
            value: -1
        });
    	location.reload();}
    })
;
</script>


<script> 
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
</script>



	<script type="text/javascript">

	function startTime() {
	var today = new Date()
	var h = today.getHours()
	var m = today.getMinutes()
	var s = today.getSeconds()
	// add a zero in front of numbers<10
	m = checkTime(m)
	s = checkTime(s)
	document.getElementById('txt').innerHTML = h+":"+m+":"+s
	t=setTimeout('startTime()',500)
	}
	function checkTime(i) {
	if (i<10) {i="0" + i}
	return i
	}

	</script>

</head>
<body onload="startTime()">


<div id="txt"></div>
<div id="p1">dasds</div>
<div class="container">

<div class=jumbotron>
	  <h1 id="flip">Head Line</h1>
	  <h3 id="panel">This is some text.</h3>
	</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">WebSiteName</div>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="HomePage.html">Home</a></li>
      <li><a href="AddQuestion.html">add Question</a></li>
      <li ><a href="NewQuestions.html">New Questions</a></li> 
      <li class="active"><a href="Questions.html">Browse Questions</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="WelcomePage.html"><span class="glyphicon glyphicon-log-in"></span>Sign Out</a></li>
    </ul>
    
  </div>
 
</nav>

<h3>Browse Questions:</h3>	

<div ng-app="myApp" ng-controller="questionsCtrl">
<div class="Question" ng-repeat="x in myData">
<h4>{{x.Id}}</h4>
<h4>created by:{{x.UsNN}}</h4>
<h4 >in:{{x.Time}}</h4>
<h4 class="QTop">topics:{{x.Topics}}</h4>
<div class="TheQ">
{{x.Message}}
</div>
<p>rating:{{x.Rating}}</p>

<div ng-controller="QvoteCtrl">
<button class="btn btn-default {{x.UserVote}}" ng-click="QUpVote()">upvote</button>
<button class="btn btn-default {{x.UserVote}}" ng-click="QDownVote()">downvote</button>
<p class="cantVote">You cant Vote</p>
</div>

<div class="answerQ">
<form method="get" action="AnswerQ">
<label for="Ans">Write your answer:</label>
<textarea name="{{x.Id}}" rows="6" cols="50" id="Ans">
</textarea>
<button type="submit" class="btn btn-default">Answer</button>
</form>
</div>


<div class="answers">
<h4>{{x.Ans.Id}}</h4>
<h4>created by:{{x.Ans.UsNN}}</h4>
<h4 class="ATop">in:{{x.Ans.Time}}</h4>
<div class="TheA">
{{x.Ans.Message}}
</div>
<p>rating:{{x.Ans.Rating}}</p>

<div ng-controller="AvoteCtrl2">
<button class="btn btn-default " ng-click="AUpVote2()">upvote</button>
<button class="btn btn-default " ng-click="ADownVote2()">downvote</button>
<p class="cantVote">You cant Vote</p>
</div>

</div>

<label class="expand" for="{{x.Id}}2"><div class="expandCon">expand</div></label>

<input class="disnone" type="checkbox" id="{{x.Id}}2" /> 

<div class="trans">
<div class="answers" ng-repeat="ans in x.List">
<h4>{{ans.Id}}</h4>
<h4>created by:{{ans.UsNN}}</h4>
<h4 class="ATop">in:{{ans.Time}}</h4>
<div class="TheA">
{{ans.Message}}
</div>
<p>rating:{{ans.Rating}}</p>

<div ng-controller="AvoteCtrl">
<button class="btn btn-default " ng-click="AUpVote()">upvote</button>
<button class="btn btn-default " ng-click="ADownVote()">downvote</button>
<p class="cantVote">You cant Vote</p>
</div>

</div>
</div>

</div>
</div> <!--myApp(ng)-->

</div>



</body>

  </html>
